@tailwind base;
@tailwind components;

.month-grid {
  @apply grid gap-1 -mt-1 -mb-4 2xl:gap-2 text-xs md:text-sm xl:text-base;
  grid-template-columns: repeat(53, 1fr);
}

.day-grid {
  @apply inline-grid grid-flow-col gap-1 2xl:gap-2;
  grid-template-rows: repeat(7, min-content);
}

.day {
  @apply rounded-sm cursor-default h-1.5 w-1.5 sm:h-2 sm:w-2 md:h-2.5 md:w-2.5 lg:h-3 lg:w-3 xl:h-4 xl:w-4 xl:rounded 2xl:h-5 2xl:w-5;
  font-size: 0;
}

/* purgecss start ignore */
[data-tooltip] {
  @apply relative;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  @apply absolute rounded-lg py-1 px-2 text-xs whitespace-pre bg-gray-900 text-white text-center hidden z-10 mb-2 bottom-full left-1/2 w-40 transform -translate-x-1/2 pointer-events-none;
}

[data-tooltip]::after {
  content: '';
  @apply absolute hidden z-10 bottom-full left-1/2 transform -translate-x-1/2 -mb-1.5 pointer-events-none;

  border: theme('spacing.2') solid theme('colors.gray.900');
  border-color: theme('colors.gray.900') transparent transparent transparent;
}

[data-tooltip]:hover::after,
[data-tooltip]:focus::after,
[data-tooltip]:hover::before,
[data-tooltip]:focus::before {
  @apply block;
}
/* purgecss end ignore */

@tailwind utilities;
